.ramen {
    margin-top: 40px;
    font-family: $font-normal;
}

.ramen__title{
    display: flex;
    font-size: 28px;
    font-weight: 700;
    width: 35%;
    justify-content: space-between;
    @include screen {
        width: 100%;
    }

    .reset{
        background-color: $primary-color;
        border: 1px solid $secondary-text;
        color: $secondary-text;
        border-radius: 4px;
        transition: all 0.2s ease-in-out; 
        font-size: 20px;
    }

    .reset:hover{
        background-color: $secondary-text;
        color: $primary-color;
    }

    .reset:active{
        position: relative;
        top: 2px;
    }
}

.ramen__construct{
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}

.ramen__ingridients{
    min-width: 60%;
    height: 100%;
    @include screen{
        min-width: 100%;
        width: 100%;
    }
    // border: 1px solid $secondary-text;
    // border-radius: 5px;

    
}


.ramen__tab--list{
    display: flex;
    width: fit-content;
    align-items: center;
    border: 2px solid $secondary-text;
    border-radius: 5px;
    @include phone{
        width: 100%;
    }
}

.ramen__tab--item{
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: $font-normal;
    background-color: $primary-color;
    transition: all 0.2s ease-in;
    border: none;
    border-right: 2px solid $secondary-text;
    @include phone {
        font-size: 3.5vw;
    }
}

.ramen__tab--item:last-child{
    border-right: none;
}

.ramen__tab--item:hover{
    background-color: #8dbfd4;
    color: #fff;
}

.ramen__tab--item:active{
    position: relative;
    top: 2px;
}

.ramen__lists{
    display: flex;
    margin-top: 30px;
}

.ingridient{
    display: none;
    // visibility: hidden;
    
    max-width: 675px;
    width: 100%;
    // max-height: 800px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

    @include screen {
        max-width: 100%;
    }
}

.ramen__list{
    display: flex;
    flex-wrap: wrap;
}

.ramen__ingridient{
    display: flex;
    width: 250px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #cecece;
    margin: 10px 25px;
    padding: 5px;
}

.open {
    display: block;
}

.active {
    background-color: $secondary-text;
    color: #fff;
}

.add-btn {
    background-color: $primary-color;
    border: 1px solid $secondary-text;
    color: $secondary-text;
    border-radius: 4px;
    transition: all 0.2s ease-in-out; 
}

.add-btn:hover{
    background-color: $secondary-text;
    color: $primary-color;
}


.sub-btn {
    background-color: $primary-color;
    border: 1px solid $secondary-text;
    color: $secondary-text;
    border-radius: 4px;
    transition: all 0.2s ease-in-out; 
}

.sub-btn:hover{
    background-color: $secondary-text;
    color: $primary-color;
}


.counter{
    display: inline-flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.next__btn {
    background-color: $primary-color;
    border: 1px solid $secondary-text;
    color: $secondary-text;
    border-radius: 4px;
    transition: all 0.2s ease-in-out; 
    font-size: 20px;
    margin-top: 20px;
    margin-left: 43%;
    font-family: $font-normal;
    padding: 5px;
    @include phone {
        margin-left: 38%;
    }
}

.next__btn:hover{
    background-color: $secondary-text;
    color: $primary-color;
}

.next__btn:active{
    top: 2px;
}




.ramen__menu{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 60px;
    min-height: 30vh;
    height: 400px;
    width: 400px;
    border: 1px solid $secondary-text;
    border-radius: 5px;
    font-family: $font-normal;
    @include screen {
        width: 100%;
    }
}


.menu {
    width: 100%;
    height: 80%;
    font-family: $font-normal;
    font-size: 20px;
    padding: 0 20px 10px 20px;
    overflow: auto;
    // border: 1px solid $secondary-text;

}

.menu__item {
    margin-top: 13px;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    font-family: $font-normal;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    border: 1px solid $secondary-text;
}

.total__title{
    font-weight: 700;
    font-size: 25px;
    font-family: $font-normal;
}

.menu__title{
    font-weight: 700;
    font-size: 25px;
    font-family: $font-normal;
    margin-top: 20px;
}