* {
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.form {
    margin-top: 50px
}

.form-check-input{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.form-check{
    margin-top: 20px;
}